
<h1><%= t('top.title') %></h1>

<article>
  <p><%= t('top.description') %></p>
  <nav class="connect">
    <ul>
      <li><%= render 'connect/facebook/login_button' %></li>
      <li><%= render 'connect/google/login_button' %></li>
    </ul>
  </nav>
</article>


<p><a href="/fake_users/">fake_users</a>
  

