
<h1><%= t('top.title') %></h1>

<article>
  <p><%= t('top.description') %></p>

<p>Admin login:  
    <ul>
      <li><%= render 'connect/facebook/login_button' %></li>  emailの提供を許可してください。
      <li><%= render 'connect/google/login_button' %></li>
    </ul>

</article>

