
<% content_for(:title) {t('top.title')} %>

<article>
  <p><%= t('top.description') %></p>

<p>Admin login:  
    <ul>
      <li><%= render 'connect/google/login_button' %></li>
    </ul>

</article>

