
# Apps:
# https://developers.facebook.com/apps/

# Permissions Reference - Facebook Login
# https://developers.facebook.com/docs/facebook-login/permissions

development: &defaults
  client_id: HERE IS 'APP ID'
  client_secret: HERE IS 'APP SECRET'
  scope: user_birthday,user_location,email,user_friends,user_gender,user_hometown

# Requires the App Review:
#   - user_age_range
#   - user_birthday
#   - user_friends
#   - user_gender
#   - user_hometown
#   - user_location
#   - user_photos

test:
  <<: *defaults

production:
  <<: *defaults
