
<% content_for(:title) {"New Fake User"} %>

<%= form_with(model: @fake_user, class:'box') do |form| %>
  <%= render 'form', form:form %>

  <div class="actions">
    <%= link_to 'Cancel', fake_users_path, class:'button is-light' %>
    <%= form.submit class:'button is-primary' %>
  </div>
<% end %>
  
