
<h1>New Fake User</h1>

<%= form_with(model: @fake_user, class:'box') do |form| %>
  <%= render 'form', form:form %>

  <div class="actions">
    <%= link_to 'Back', fake_users_path, class:'button is-light' %>
    <%= form.submit class:'button is-primary' %>
  </div>
<% end %>
  
