
<ul class="uk-breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/fake_users/">Fake Users</a></li>
    <li><span></span></li>
</ul>

<%= link_to 'Edit', edit_fake_user_path(@fake_user) %> |
<%= link_to 'Back', fake_users_path %>
