<h1><%= t('clients.new.title') %></h1>

<article>
  <%= form_for @client do |f| %>
    <%= render 'clients/form', client:@client, redirect_uris:@redirect_uris,
                               f: f %>
    <%= f.submit %>
  <% end %>
</article>
